div
  h2 {{$t ("list.list")}}


  #example-component
  form(@submit.prevent="addFilters" )
      p
        label {{$t ("list.filterTitle")}}
        input(type="text" name="titleFilter" id="titleFilter" v-model="indexQueryParams.filters.title")
        input(type="submit" name="save_button" v-html="$t('send')")

  table
    tr
      th {{$t ("title")}}
      th {{$t ("description")}}
      th 
    tr(v-for="list in updateList")
      td 
        img(v-if="list.state == true" src=require('assets/images/edit.png') width="15") 
        img(v-if="list.state == false" src=require('assets/images/noEdit.png') width="15")
        router-link(:to="{ name: 'showList', params: {id: list.id, titleList: list.title, descriptionList: list.description}}") {{list.title}}
      td {{list.description}}
      template(v-if ="list.user_id == userId")
        td
          img(v-if="list.state" @click="updateListState(list)" src=require('assets/images/lock.png') width="20")
          img(v-if="!list.state" @click="updateListState(list)" src=require('assets/images/unlocked.png') width="20")
          img(name="delete" v-on:click="deleteList(list.id)" src=require('assets/images/delete.png') width="20")
          
      template(v-else)
        td 

  pagination-component(@dataTable="indexList()" v-bind:pagination="pagination")

  p
    router-link(:to="{ name: 'createList'}") {{$t ("list.createList")}}
        

        